<?xml version="1.0" ?>
<launch>

  <arg name="name"	default="dhaiba_ros_bridge"/>
  <arg name="op"	default="pub"/>
  <arg name="msg"	default="/tf"/>
  <arg name="dw_msg"	default="tf"/>
  <arg name="type"	default="tf2_msgs/TFMessage"/>

  <node name="$(arg name)" pkg="dhaiba_ros" type="dhaiba_ros_bridge.py"
  	args="$(arg op) $(arg msg) $(arg name) $(arg dw_msg).Note"
	if="$(eval op == 'pub')"/>

  <node name="$(arg name)" pkg="dhaiba_ros" type="dhaiba_ros_bridge.py"
  	args="$(arg op) $(arg name) $(arg dw_msg).Note $(arg msg) $(arg type)"
	if="$(eval op == 'sub')"/>

  <node name="$(arg name)" pkg="dhaiba_ros" type="dhaiba_ros_bridge.py"
  	args="$(arg op) $(arg name)
	      Request.Note Response.Note $(arg msg) $(arg type)"
	if="$(eval op == 'srv')"/>

</launch>
