<?xml version="1.0" ?>
<launch>

  <arg name="participant"	default="dhaiba_ros_bridge"/>
  <arg name="teleport"		default="true"/>

  <arg name="name"	value="/turtle1/teleport_absolute"
			if="$(arg teleport)"/>
  <arg name="name"	value="/turtle_pointer/tf2_frames"
			unless="$(arg teleport)"/>
  <arg name="type"	value="turtlesim/TeleportAbsolute"
			if="$(arg teleport)"/>
  <arg name="type"	value="tf2_msgs/FrameGraph"
			unless="$(arg teleport)"/>

  <include file="$(find turtle_tf2)/launch/turtle_tf2_demo.launch"/>

  <include file="$(find dhaiba_ros)/launch/run.launch">
    <arg name="op"		value="srv"/>
    <arg name="participant"	value="$(arg participant)"/>
    <arg name="element"		value=""/>
    <arg name="name"		value="$(arg name)"/>
    <arg name="type"		value="$(arg type)"/>
  </include>

  <node name="sub" pkg="dhaiba_ros" type="sub.py"
  	args="$(arg participant) Response.Note"/>

</launch>
