<?xml version="1.0" ?>
<launch>

  <arg name="participant"	default="dhaiba_ros_bridge"/>
  <arg name="element"		default="tf"/>
  <arg name="in"		default="/tf"/>
  <arg name="out"		default="/my_tf"/>
  <arg name="type"		default="tf2_msgs/TFMessage"/>

  <include file="$(find turtle_tf2)/launch/turtle_tf2_demo.launch"/>

  <include file="$(find dhaiba_ros)/launch/run.launch">
    <arg name="op"		value="pub"/>
    <arg name="participant"	value="$(arg participant)"/>
    <arg name="element"		value="$(arg element)"/>
    <arg name="name"		value="$(arg in)"/>
  </include>

  <include file="$(find dhaiba_ros)/launch/run.launch">
    <arg name="op"		value="sub"/>
    <arg name="participant"	value="$(arg participant)"/>
    <arg name="element"		value="$(arg element)"/>
    <arg name="name"		value="$(arg out)"/>
    <arg name="type"		value="$(arg type)"/>
  </include>

</launch>
