<?xml version="1.0" ?>
<launch>

  <arg name="participant"	default="DW_Publisher_Test"/>
  <arg name="element"		default="distanceNote"/>
  <arg name="name"		default="/dw_distances"/>
  <arg name="type"		default="toyota1_routines/DWState"/>

  <include file="$(find dhaiba_ros)/launch/run.launch">
    <arg name="op"		value="sub"/>
    <arg name="participant"	value="$(arg participant)"/>
    <arg name="element"		value="$(arg element)"/>
    <arg name="name"		value="$(arg name)"/>
    <arg name="type"		value="$(arg type)"/>
  </include>

</launch>
