<?xml version="1.0" ?>
<launch>

  <arg name="pub_name"	default="dhaiba_ros_publisher"/>
  <arg name="sub_name"	default="dhaiba_ros_subscriber"/>
  <arg name="in"	default="/tf"/>
  <arg name="out"	default="/my_tf"/>
  <arg name="dw_msg"	default="tf"/>
  <arg name="type"	default="tf2_msgs/TFMessage"/>

  <include file="$(find dhaiba_ros)/launch/run.launch">
    <arg name="name"	value="$(arg pub_name)"/>
    <arg name="op"	value="pub"/>
    <arg name="msg"	value="$(arg in)"/>
    <arg name="dw_msg"	value="$(arg dw_msg)"/>
  </include>

  <include file="$(find dhaiba_ros)/launch/run.launch">
    <arg name="name"	value="$(arg sub_name)"/>
    <arg name="op"	value="sub"/>
    <arg name="msg"	value="$(arg out)"/>
    <arg name="dw_msg"	value="$(arg pub_name)/$(arg dw_msg)"/>
    <arg name="type"	value="$(arg type)"/>
  </include>

</launch>
